
{% extends 'nbase.html' %}
{% load static %}
{% block title %}
<title>CSV Add</title>
{% endblock %}

{% block hero %}
{% endblock %}
{% block maincontent %}

 <!-- ======= About Section ======= -->
 <section id="about" class="about" style="margin-top: -4%;">
    <div class="container">
      <div class="section-title">
        <span>LOGIN</span>
        <h2>LOGIN</h2>
      </div>
      <div class="container-fluid">
  
          <div class="col-12">
                  <div class="row">
                      <div class="col-4"></div>
                      <div class="col-sm-12 col-md-6 col-lg-4">
                          <div class="card">
                              <div class="card-body">
                                  <form method="POST" enctype="multipart/form-data" id="loginform">
                                      {% csrf_token %}
                                      <div class="col-sm-12 col-lg-12 col-md-12">
                                          <div class="col-12">
                                            {% for i in  messages %}
                                            <div class="alert alert-danger" role="alert" id="malert1">
                                                {{i}}
                                            </div>
                                            <script>
                                                $("#malert1").fadeOut(3000);
                                            </script>
                                            {% endfor %}
                                          </div>
                                          <div class="row">
                                              <div class="col-sm-12 col-md-12 col-lg-12">
                                                  <div class="form-group p-2 text-center">
                                                      <label for="" class=""><strong>USERNAME</strong></label>
                                                      <input type="text" name="name" id="" class="form-control" required>
                                                  </div>
                                              </div>
                                              <!-- <div class="col-sm-12 col-md-12 col-lg-12">
                                                <div class="form-group p-2 text-center">
                                                    <label for="" class=""><strong>EMPLOYEE ID</strong></label>
                                                    <input type="text" name="empid" id="" class="form-control" required>
                                                </div>
                                            </div>
                                            <div class="col-sm-12 col-md-12 col-lg-12">
                                                <div class="form-group p-2 text-center">
                                                    <label for="" class=""><strong>EMAIL</strong></label>
                                                    <input type="text" name="email" id="" class="form-control" required>
                                                </div>
                                            </div> -->
                                              <div class="col-sm-12 col-md-12 col-lg-12">
                                                <div class="form-group p-2 text-center">
                                                    <label for="" class=""><strong>PASSWORD</strong></label>
                                                    <input type="password" name="pass" id="" class="form-control" required>
                                                </div>
                                              </div>
                                              <div class="col-sm-12 col-md-12 col-lg-12">
                                                  <div class="text-center">
                                                      <input type="submit" value="Login" class="btn btn-primary">
                                                      <a href="{% url 'register' %}" class="btn btn-info">register here</a>
                                                  </div>
                                              </div>
                                              
                                          </div>
                                      </div>
                  
                                  </form>
                              </div>
                          </div>
                      </div>
                  </div>
              </div> 
              
          </div>
      
    </div>
  </section><!-- End About Section -->



{% endblock %}