
{% extends 'nbase.html' %}
{% load static %}
{% block title %}
<title>CSV Add</title>
{% endblock %}
{% block header %}
{% endblock %}
{% block hero %}
{% endblock %}
{% block maincontent %}

 <!-- ======= About Section ======= -->
 <section id="about" class="about">
    <div class="container">

      <div class="section-title">
        <span>ADD MODEL</span>
        <h2>MODEL</h2>
      </div>
      <div class="container-fluid">
  
          <div class="col-12">
                  <div class="row">
                      <div class="col-3"></div>
                      <div class="col-sm-6 col-md-6 col-lg-6">
                          <div class="card">
                            <div class="text-center">
                                {% if messages %}
                                <ul class="messages">
                                    {% for message in messages %}
                                    <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
                                    {% endfor %}
                                </ul>
                                {% endif %}
                            </div>
                              <div class="card-body p-4">
                                  <form action="" method="POST" enctype="multipart/form-data">
                                      {% csrf_token %}
                                      <div class="col-sm-12 col-lg-12 col-md-12">
                                          <div class="row">
                                              <!-- <div class="col-sm-12 col-md-12 col-lg-12">
                                                  <div class="form-group p-2">
                                                      <label for="" class="">Name</label>
                                                      <select name="name" id="" class="form-select">
                                                        <option value=airbus>Airbus</option>
                                                        <option value="bomberdier">Bombardier</option>
                                                    </select>
                                                  </div>
                                                  
                                              </div> -->
                                              <div class="col-sm-12 col-md-12 col-lg-12">
                                                  <div class="form-group p-2">
                                                      <label for="" class="">File</label>
                                                      <input type="file" name="file" id="" class="form-control" accept=".h5" required>
                                                  </div>
                                              </div>
                                              <div class="col-sm-12 col-md-12 col-lg-12">
                                                  <div class="text-center">
                                                      <input type="submit" value="SAVE" class="btn btn-primary">
                                                  </div>
                                              </div>
                                              
                                          </div>
                                      </div>
                  
                                  </form>
                              </div>
                          </div>
                      </div>
                  </div>
              </div> 
              
          </div>
      
    </div>
  </section><!-- End About Section -->



{% endblock %}