{% extends 'nbase.html' %}
{% load static %}
{% block title %}
<title>Image Add</title>
{% endblock %}
{% block header %}
{% endblock %}
{% block hero %}
{% endblock %}
{% block maincontent %}

  <!-- ======= About Section ======= -->
  <section id="about" class="about">
    <div class="container">

      <div class="section-title">
        <span>Add Image</span>
        <h2>Add Image</h2>
      </div>
      <div class="container-fluid">
  
          <div class="col-12">
                  <div class="row">
                      <div class="col-3"></div>
                      <div class="col-sm-6 col-md-6 col-lg-6">
                          <div class="card">
                              <div class="text-center">
                                  {% if messages %}
                                  <ul class="messages">
                                      {% for message in messages %}
                                      <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
                                      {% endfor %}
                                  </ul>
                                  {% endif %}
                              </div>
                              <script>
                                  function checkCount(){
                                    var numFiles = $("#filed")[0].files.length;
                                    if(numFiles>=100){
                                        $("#status").css('display', 'block')
                                        return true
                                    }
                                    else{
                                        alert('Atleast 100 images needed to train images!!')
                                    }
                                    return false;
                                  }
                              </script>
                              <div class="card-body p-4">
                                  <form action="" method="POST" enctype="multipart/form-data" onsubmit="return checkCount();">
                                      {% csrf_token %}
                                      <div class="col-sm-12 col-lg-12 col-md-12">
                                          <div class="row">
                                              <!-- <div class="col-sm-12 col-md-12 col-lg-12">
                                                  <div class="form-group p-2">
                                                      <label for="" class="">Image Type</label>
                                                        <select name="name" id="" class="form-select">
                                                            <option value="airbus">Airbus</option>
                                                            <option value="bomberdier">Bomberdier</option>
                                                        </select>
                                                  </div>
                                                  
                                              </div> -->
                                              <div class="col-sm-12 col-md-12 col-lg-12">
                                                <div class="form-group p-2">
                                                    <label for="">Select Type</label>
                                                    <select name="" id="uptype" class="form-select">
                                                        <option value="1">File</option>
                                                        <option value="2">Folder</option>
                                                    </select>
                                                </div>
                                                  <div class="form-group p-2">
                                                      <label for="" class="">File</label>
                                                      <!-- <input type="file" name="file" id="filed" class="form-control" accept="image/jpeg,image/png" multiple required> -->
                                                      <input type="file" name="file" id="filed" class="form-control" accept="image/jpeg,,image/png" multiple required>
                                                  </div>
                                              </div>
                                              <div class="col-sm-12 col-md-12 col-lg-12">
                                                  <div class="text-center">
                                                      <input type="submit" value="SAVE" class="btn btn-primary">
                                                  </div>
                                              </div>
                                              
                                          </div>
                                      </div>
                  
                                  </form>
                                  <div class="col-12 text-center m-2" id="status" style="display: none;">
                                    Training Initialized...
                                    <div class="spinner-grow" role="status">
                                        <span class="sr-only">Training Initialized...</span>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div> 
              
          </div>
      
    </div>
  </section><!-- End About Section -->




{% endblock %}