
{% extends 'nbase.html' %}
{% load static %}
{% block title %}
<title>CSV Add</title>
{% endblock %}

{% block hero %}
{% endblock %}
{% block maincontent %}

 <!-- ======= About Section ======= -->
 <section id="about" class="about">
    <div class="container">

      <div class="section-title">
        <span>REGISTER</span>
        <h2>REGISTER</h2>
      </div>
      <div class="container-fluid">
  
          <div class="col-12">
                  <div class="row">
                      <div class="col-4"></div>
                      <div class="col-sm-12 col-md-6 col-lg-4">
                          <div class="card">
                              
                              <div class="card-body">
                                  <form method="POST" enctype="multipart/form-data" id="registerform">
                                      {% csrf_token %}
                                      <div class="col-sm-12 col-lg-12 col-md-12">
                                          <div class="row">
                                            <div class="col-12">
                                                <div class="alert alert-danger" role="alert" id="ralert"> </div>
                                                {% for i in  messages %}
                                                <div class="alert alert-danger" role="alert" id="malert">
                                                    Username already exist.....
                                                </div>
                                                <script>
                                                    $("#malert").fadeOut(3000);
                                                </script>
                                                {% endfor %}
                                            </div>
                                              <div class="col-sm-12 col-md-12 col-lg-12">
                                                  <div class="form-group p-2 text-center">
                                                     
                                                      <label for="" class=""><strong>USERNAME</strong></label>
                                                      <input type="text" name="name" id="" class="form-control" autocomplete="" required>
                                                  </div>
                                                  
                                              </div>
                                              <div class="col-sm-12 col-md-12 col-lg-12">
                                                <div class="form-group p-2 text-center">
                                                    <label for="" class=""><strong>PASSWORD</strong></label>
                                                    <input type="password" name="pass" id="cp1" class="form-control" required>
                                                </div>
                                              </div>
                                              <div class="col-sm-12 col-md-12 col-lg-12">
                                                <div class="form-group p-2 text-center">
                                                    <label for="" class=""><strong>CONFIRM PASSWORD</strong></label>
                                                    <input type="password" name="" id="cp2" class="form-control" required>
                                                </div>
                                              </div>
                                              <div class="col-sm-12 col-md-12 col-lg-12">
                                                  <div class="text-center">
                                                      <button id="sregister" class="btn btn-primary" type="submit">REGISTER</button>
                                                  </div>
                                              </div>
                                              
                                          </div>
                                      </div>
                  
                                  </form>
                              </div>
                          </div>
                      </div>
                  </div>
              </div> 
              
          </div>
      
    </div>
  </section><!-- End About Section -->



{% endblock %}